<section id="home" data-parallax="scroll" class="showcase">
  <video src="https://file.saipulanuar.ga/file/PWWWAj0LSeOw.mp4"  
muted loop autoplay></video>
    <div class="overlay"></div>
    <div class="home-content">        
        <div class="row contents">                     
            <div class="home-content-left">
                <h3>Hello User,</h3>
                <h1>
                    Welcome To My Site
                </h1>
                <div class="buttons" data-aos="fade-up">
                    <a href="/users/login" class="button stroke">
                        <span><i class="fas fa-folder"></i></span>
                        Dashboard
                    </a>
                    <a href="https://saweria.co/ryanzstore" class="button stroke" target="__blank">
                        <span><i class="fa fa-fw fa-wallet"></i></span>
                         Donation
                    </a>
                </div>                                         
            </div>
        </div>
    </div> 

    <ul class="home-social-list">
        <li>
            <a href="https://api.whatsapp.com/send/?phone=6285863725673&text&app_absent=0" target="__blank"><i class="fab fa-whatsapp fa-lg"></i></a>
        </li>
        <li>
            <a href="https://github.com/nyariapakintil" target="__blank"><i class="fab fa-github fa-lg"></i></a>
        </li>
        <li>
            <a href="http://ryanzofc.com/" target="__blank"><i class="fas fa-link fa-lg"></i></a>
        </li>
    </ul>
    <div class="home-scrolldown">
        <a href="#testimonials" class="scroll-icon smoothscroll">
            <span>Scroll</span>
            <i class="icon-arrow-right" aria-hidden="true"></i>
        </a>
    </div>
</section> 

<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RyanzOfc</title>
    <!-- Font Awesome CDN-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
    <!-- Stylesheet -->
    <link rel="stylesheet" href="lolhuman/css/style.css" />
  </head>
  <body>
    <section>
      <div class="row">
        <h2 class="section-heading">Recoded By RyanzOfc</h2>
      </div>
      <div class="row">
        <div class="column">
          <div class="card">
            <div class="icon-wrapper">
              <i class="fas fa-skull-crossbones"></i>
            </div>
            <h3>No Risk</h3>
            <p>
              Semua File Terjamin Aman Anti Virus Atau Sebagainya 
            </p>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="icon-wrapper">
              <i class="fa fa-refresh"></i>
            </div>
            <h3>Latest Update</h3>
            <p>
              Hampir Semua File Atau Aplikasi Versi Terbaru Dan Terupdate Karena Kami Akan Mengecek Setiap Minggunya 😗
            </p>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="icon-wrapper">
              <i class="fas fa-lock-open"></i>
            </div>
            <h3>No Password</h3>
            <p>
              Semua Yang Kami Share Tidak Di Lengkapi Dengan Password Jadi Tinggal Sat Set Sat Set 😊
            </p>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="icon-wrapper">
              <i class="fas fa-exclamation-triangle"></i>
            </div>
            <h3>No Error</h3>
            <p>
              Hampir Semua Yang Kami Share Telah Di Uji Coba Dan Tidak Mengalami Error Ataupun Kendala Lainnya
            </p>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="icon-wrapper">
              <i class="fa fa-usd"></i>
            </div>
            <h3>Gratiss</h3>
            <p>
              Semua File Aplikasi Atau Lainnya Yang Kami Share Tidak Dipungut Biaya Cuma Linknya Aja Receh :v
            </p>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="icon-wrapper">
              <i class="far fa-comments"></i>
            </div>
            <h3>Request</h3>
            <p>
              Kamu Bisa Request Untuk Mengupload File Anda Atau Meminta Kami Mengupload File Yang Anda Cari 😗
            </p>
          </div>
        </div>
      </div>
    </section>
    
<section id="testimonials">
    <div class="row">
        <div class="col-twelve">
            <h1 class="intro-header" data-aos="fade-up">About Me</h1>
        </div>   		
    </div>   	
    <div class="row owl-wrap">
        <div id="testimonial-slider"  data-aos="fade-up">
            <div class="slides owl-carousel">
                <div>
                    <p>
                        Hello, I'm Ryanz For now I spend more time to explore about backend development especially using Node JS and MongoDb.
                        Contact Me Via <a href="https://api.whatsapp.com/send/?phone=6285863725673&text&app_absent=0" target="__blank">Whatsapp</a></p> 
                    <div class="testimonial-author">
                            <img src="images/hi.gif" alt="Author image">
                            <div class="author-info">
                                RyanzOFC
                                <span>Owner, R2</span>
                            </div>
                    </div>                 
                </div> 
            </div>
        </div>          
    </div>
</section>


<script>
f=
_=>navigator.getBattery().then(b=>alert('Welcome To My Site This Site Only For Sharing Or Uploaded Files And Apps'))
f()
</script>
